.aboutme-div{
    background-color: #E7E7E7;
    width: 620px;
    height: 980px;
    border-radius: 10px;
    margin-top: 10px;
    gap: 20px;
}
.icon-coloumn{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    margin-right: 440px;
}
.icon-text-01{
    font-size: 12px;
    font-weight: 400;
    color: black;
    font-family: poppins;
}
.comp-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}