.perosnal-div{
    background-color: #E7E7E7;
    width: 620px;
    height: 480px;
    border-radius: 10px;
    margin-top: 10px;
    gap: 20px;
}
.personal-text{
    font-size: 14px;
    font-weight: 500;
    color: rgb(0, 0, 0);
    font-family: poppins;
    margin-left: 15px;
    margin-top: 20px;

}
.pic-div-1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 20px;
    margin-right: 300px;
    margin-top: 30px;
}
.profilepic{
    width: 100px;
    height: 100px;
}
.r-div-2{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}
.pp-text{
    font-size: 12px;
    font-weight: 400;
    color: rgb(0, 0, 0);
    font-family: poppins;
}
.rowww-44{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 70px;
    margin-top: 10px;
}
.all-c{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 10px;

}
.aboutt-div{
    background-color: #E7E7E7;
    width: 620px;
    height: 370px;
    border-radius: 10px;
    margin-top: 20px;
    gap: 20px;
}
.what-i-do-div{
    background-color: #E7E7E7;
    width: 620px;
    height: 900px;
    border-radius: 10px;
    margin-top: 20px;
    gap: 20px;
}
.projectt-text{
    font-size: 12px;
    font-weight: 500;
    color: rgb(0, 0, 0);
    font-family: poppins;
    margin-right:540px;
    margin-top: 20px;

}
.rowww-45{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 20px;
}
.contact-me-div{
    background-color: #E7E7E7;
    width: 620px;
    height: 640px;
    border-radius: 10px;
    margin-top: 20px;
    gap: 20px;
}
.up-div-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 10px;

}
.iconn-text{
    font-size: 12px;
    font-weight: 500;
    color: rgb(0, 0, 0);
}
.rowww-46{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.sociall-text{
    font-size: 14px;
    font-weight: 500;
    color: rgb(0, 0, 0);
    font-family: poppins;
    margin-top: 20px;
    margin-right: 510px;
}
.margin-left-1{
    margin-right: 60px;
}
.margin-left-2{
    margin-left: 160px;
}
.co{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}
.share-icon{
    font-size: 12px;
    font-weight: 500;
    color: rgb(0, 0, 0);
    margin-right: 160px;

}
.rowww-47{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 110px;
}
.ro{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 10px;
    margin-right: 400px;

}
.icon-t{
    font-size: 12px;
    font-weight: 500;
    color: rgb(0, 0, 0);
}