.container-14{
    width: 100%;
    margin-left: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    /* height: 1220px; */
}
.first-box-22{
    background-color: #E7E7E7;
    width: 620px;
    height: 190px;
    border-radius: 10px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 140px;

}
