
body{
    margin: 0;
    padding: 0;
    overflow-y: scroll;  
    overflow-x: hidden;
}
.LoginPage{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.firstPart{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    width: 50%;
}
.part-1{
    display: flex;
    flex-direction: column;
  justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    position: absolute;
}
.biglogo{
    width: 70px;
    height: 70px;
    margin-top: 10px;
}
.back{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    position: relative;
}
.bigg-divv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-top: 130px;
}
.daimond{
    width: 85px;
    height: 85px;
}
.hero-text{
    font-size: 20px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-family: poppins;
}
.welcome-text{
    font-size: 16px;
    font-weight: 400;
    color: rgb(0, 0, 0);
    font-family: poppins;
    margin-left: 20px;
}
.formm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: #e8e8e8;
    width: 280px;
    height: 350px;
    border-radius: 10px;
    margin-left: 90px;
    gap: 20px;
}
.secondPart{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    width: 50%;
    gap: 40px;

}
.email-div{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
}
.email-text{
    font-size: 10px;
    font-weight: 400;
    color: rgb(0, 0, 0);
    font-family: poppins;
}
.email-text-2{
    font-size: 10px;
    font-weight: 400;
    color:#979797;
    font-family: poppins;
    margin-left: 10px;
}
.email-box{
    width: 230px;
    height: 30px;
    border: #b8b8b8 1px solid;
    border-radius: 5px;

}
.eye{
    width: 12px;
    height: 12px;
    margin-right: 10px;
}
.pass-box{
    width: 230px;
    height: 30px;
    border: #b8b8b8 1px solid;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;

}
.check{
    width: 12px;
    height: 12px;
}
.reminder-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 60px;

}
.reminder-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 5px;
}
.reminder-text{
    font-size: 10px;
    font-weight: 400;
    color:#979797;
    font-family: poppins;
}
.coloumn-login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 10px;
}
.login-button{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 230px;
    height: 30px;
    background-color: black;
    border-radius: 5px;
}
.login-text{
    font-size: 12px;
    font-weight: 500;
    color:#ffffff;
    font-family: poppins;
    text-decoration: none;
}
.login-text-black{
    font-size: 9px;
    font-weight: 400;
    color:#000000;
    font-family: poppins;
}
.bold{
    font-size: 9px;
    font-weight: 600;
    color:#000000;
    font-family: poppins;
}