.work-page-div{
    background-color: #E7E7E7;
    width: 620px;
    height: 1700px;
    border-radius: 10px;
    margin-top: 10px;
}

.work-page-div-2{
    background-color: #E7E7E7;
    width: 620px;
    height: 1860px;
    border-radius: 10px;
    margin-top: 40px;
}
