.first-box{
    background-color: #E7E7E7;
    width: 620px;
    height: 220px;
    border-radius: 10px;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 10px;


}
.row-2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 160px;

}
.project-div{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}
.page-title{
    font-size: 12px;
    font-weight: 600;
    color: black;
    font-family: poppins;
}
.fill-box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center; 
    width: 220px;
    height: 25px;
    background-color: white;
    border-radius: 5px;
}
.text-box{
    font-size: 10px;
    font-weight: 400;
    color: black;
    font-family: poppins;
    margin-left: 10px;
}
.upload{
    width: 12px;
    height: 12px;
    margin-right: 10px;
}
.ed{
    width: 14px;
    height: 14px;
    margin-right: 10px;
}
.fill-box-2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center; 
    width: 590px;
    height: 25px;
    background-color: white;
    border-radius: 5px;
}
.folder-icon{
    width: 16px;
    height: 16px;
    margin-right: 10px;
    margin-top: 10px;
}