.row-cont{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 600px;
    height: 25px;
    background-color: white;
    border-radius: 5px;
    margin-top: 10px;
    gap: 45px;
}
.small-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 10px;
}
.cat-text{
    font-size: 10px;
    font-weight: 400;
    color: black;
    font-family: poppins;
}
.upload-2{
    width: 10px;
    height: 10px;
}
.button{
    background-color: #FFC5D8;
    width: 60px;
    height: 20px;
    font-size: 8px;
    font-weight: 500;
    color: black;
    font-family: poppins;
    border-radius: 5px;
    border: none;
}
.circle{
    width: 20px;
    height: 20px;
}