.header{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    float: right;
    gap: 20px;
    height: 1000px;

}
.search-div{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;
    background-color: #E7E7E7;
    width: 300px;
    height: 30px;
    border-radius: 100px;
    margin-top: 10px;
    gap: 5px;
}
.search-icon{
    width: 15px;
    height: 15px;
    margin-left: 20px;
}
.search-text{
    font-size: 10px;
    font-weight: 400;
    color: #848484;
    font-family: poppins;
}
.notification-div{
    width: 32px;
    height: 32px;
    border-radius: 200px;
    background-color: #E7E7E7;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.icons-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 10px;
}
.profile{
    width: 140px;
    height: 30px;
    border-radius: 200px;
    background-color: #E7E7E7;
}