.project-div{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}
.page-title{
    font-size: 12px;
    font-weight: 600;
    color: black;
    font-family: poppins;
}

.fill-box-001{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center; 
    gap: 10px;
}
.text-box-22{
    font-size: 9px;
    font-weight: 400;
    width: 100px;
    color: black;
    font-family: poppins;
    margin-left: 10px;
}
.upload{
    width: 12px;
    height: 12px;
    margin-right: 10px;
}
.diiv-1{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: 100px;
    height: 25px;
    background-color: white;
    border-radius: 5px;
    gap: 45px;
}
.diiv-2{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: 150px;
    height: 25px;
    background-color: white;
    border-radius: 5px;
    gap: 30px;

}