.nav{
    width: 20%;
    height: 800px;
    background-color: #000000e3;
    position: fixed;

    top: 0;
    left: 0;
    z-index: 1000;

}
.logo-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 10px;
    margin-top: 10px;
}
.logo-icon{
    width: 30px;
    height: 30px;
}
.welcome{
    font-size: 12px;
    font-weight: bold;
    color: white;
    font-family: poppins;
}
.nav-section{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    margin-top: 30px;
    gap: 20px;
}
.dashboard-div-white{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;
    gap: 10px;
    margin-left: 20px;
    background-color: white;    
    width: 153px;
    height: 30px;
    border-radius: 20px 0px 0px 20px;
}
.d-icon{
    width: 18px;
    height: 18px;
    margin-left: 10px;
}
.icon{
    width: 18px;
    height: 18px;
}
.text-black{
    font-size: 12px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    font-family: poppins;
}
.dashboard-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 10px;
    margin-left: 30px;

}
.text{
    font-size: 10px;
    font-weight: 300;
    color: rgb(255, 255, 255);
    font-family: poppins;
}
.icon-small{
    width: 14px;
    height: 14px;
}
.logout-div{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;
    gap: 10px;
    margin-top:150px;
    margin-left: 20px;

}


@media (max-width: 834px) {
    .nav {
        left: -200px;
    }
    .nav.nav-open {
        left: 0;
    }
}

.burger {
    width: 30px;
    height: 25px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top: 15px;
    left: 15px;
    z-index: 2000;
    cursor: pointer;
}

.burger span {
    width: 100%;
    height: 4px;
    background: white;
    border-radius: 5px;
}

@media (max-width: 834px) {
    .burger {
        display: flex;
    }
    .nav {
        left: -200px;
      }
      .nav.nav-open {
        left: 0;
      }
}


/* When menu is active (open) */
.burger.active span:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
  }
  
  .burger.active span:nth-child(2) {
    opacity: 0;
  }
  
  .burger.active span:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
  }
  