.fill-box-003{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center; 
    width: 200px;
    height: 25px;
    background-color: white;
    border-radius: 5px;
}
.text-box{
    font-size: 10px;
    font-weight: 400;
    color: black;
    font-family: poppins;
    margin-left: 10px;
}
.upload{
    width: 12px;
    height: 12px;
    margin-right: 10px;
}
