.save-button-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 20px;
    width: 120px;
    height: 25px;
    background-color: #933C58;
    margin-left: 470px;
    margin-top: 10px;

}
.text-upp{
    font-size: 10px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    font-family: poppins;
}
.uploadw{
    width: 12px;
    height: 12px;
}