.seo{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    margin-top: 30px;
}
.coloumn-1{
    background-color: #E7E7E7;
    width: 620px;
    height: 390px;
    border-radius: 10px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 10px;
}
.seo-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 160px;

}
.seo-text{
    font-size: 16px;
    font-weight: bold;
    color: black;
    font-family: poppins;
}

.project-div{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}
.page-title{
    font-size: 12px;
    font-weight: 600;
    color: black;
    font-family: poppins;
}
.fill-box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center; 
    width: 220px;
    height: 25px;
    background-color: white;
    border-radius: 5px;
}
.text-box{
    font-size: 10px;
    font-weight: 400;
    color: black;
    font-family: poppins;
    margin-left: 10px;
}
.upload{
    width: 12px;
    height: 12px;
    margin-right: 10px;
}
.fill-box-big{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    align-content: flex-end; 
    width: 600px;
    height: 80px;
    background-color: white;
    border-radius: 5px;
}
.fill-box-big-2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 600px;
    height: 80px;
    background-color: white;
    border-radius: 5px;
    gap: 20px;
}
.edit-icon{
    width: 12px;
    height: 12px;
    margin-right: 10px;
    margin-top: 10px;
}
.buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin-top: 10px;
    gap: 360px;
    
}
.edit-button{
    width: 120px;
    height: 20px;
    background-color: #3D3D3D;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    border-radius: 5px;
    border: none;
    gap: 10px;
}
.button-text-1{
    font-size: 10px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    font-family: poppins;
}
.edit-icon-2{
    width: 12px;
    height: 12px;
}
.edit-button-2{
    width: 120px;
    height: 20px;
    background-color: #933C58;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    border-radius: 5px;
    border: none;
    gap: 10px;
}