.social-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 50px;

}
.page-title{
    font-size: 12px;
    font-weight: 500;
    color: black;
    font-family: poppins;
}
.fill-box-long-2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center; 
    width:390px;
    height: 25px;
    background-color: white;
    border-radius: 5px;
}
.text-box{
    font-size: 10px;
    font-weight: 400;
    color: black;
    font-family: poppins;
    margin-left: 10px;
}
.upload{
    width: 12px;
    height: 12px;
    margin-right: 10px;
}
