.up-div-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 10px;

}
.iconn-text{
    font-size: 12px;
    font-weight: 500;
    color: rgb(0, 0, 0);
}